<div class="card p-2 text-center" style="width:18rem" *ngIf="!hideMe">
	<img class="card-img-top" src="{{item.imagePath}}" alt="{{item.name}}" style="align-self: center;">
	<!-- style="display: block; "  -->
	<div class="card-body row align-items-center">
		<div class="col-6">
			<p class="item-name card-text">Name: {{item.name}}</p>
			<p class="item-price card-text">${{item.price}}</p>
		</div>
		<div class="col-6">
			<!-- use pipes to truncate later -->
			<p class="card-text">Description:</p>
			<p class="card-text">{{ (item.description.length>12)? (item.description | slice:0:12)+'...':(item.description) }}</p>
		</div>
		<div class="col-12 mt-2">
			<button class="btn col-4 btn-danger btn-sm" (click)="removeItem()">Remove</button>
		</div>
	</div>	
</div>